<div class="mb-3">
  <h2 class="display-2">Device Type List</h2>
</div>
<div class="btn-group mb-3">
  <a [routerLink]="['/device-type', 'create']" class="btn btn-outline-primary">
    Create Device Type
  </a>
  <button class="btn btn-outline-primary" (click)="onRefresh()">
    <i class="bi bi-arrow-clockwise"></i>
  </button>
</div>
<app-device-type-list-item
  *ngFor="let deviceType of deviceTypes"
  [deviceType]="deviceType"
></app-device-type-list-item>
<div *ngIf="deviceTypes.length === 0 && !loading" class="alert alert-warning">
  No devices found.
</div>
