<div class="mb-3">
  <h2 class="display-2">Device List</h2>
</div>

<div class="mb-3">
  <button class="btn btn-outline-primary" routerLink="/meal/create">+ Add a Meal</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Kcal</th>
      <th scope="col">Protein</th>
      <th scope="col">Fat</th>
      <th scope="col">When</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals">
      <th scope="row">{{ meal.id }}</th>
      <td>{{ meal.name }}</td>
      <td>{{ meal.kcal }}</td>
      <td>{{ meal.protein }}</td>
      <td>{{ meal.fat }}</td>
      <td>{{ meal.createdAt | date }}</td>
      <td>
        <button class="btn btn-danger" routerLink="/meal/{{ meal.id }}/delete">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
