<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div
      id="menu"
      class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top bg-dark"
    >
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2"
      >
        <a
          routerLink="/"
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-decoration-none text-white"
        >
          <span class="fs-5"
            >IoT<span class="d-none d-sm-inline">racking</span></span
          >
        </a>
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu"
        >
          <li>
            <a routerLink="/dashboard" class="nav-link px-sm-0 px-2 text-white">
              <i class="fs-5 bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/device" class="nav-link px-sm-0 px-2 text-white">
              <i class="fs-5 bi-pci-card"></i>
              <span class="ms-1 d-none d-sm-inline">Devices</span>
            </a>
          </li>
          <li>
            <a routerLink="/device-group" class="nav-link px-sm-0 px-2 text-white">
              <i class="fs-5 bi-bounding-box"></i>
              <span class="ms-1 d-none d-sm-inline">Device Groups</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col d-flex flex-column h-sm-100">
      <div class="container">
        <main>
          <h1 class="display-1">Health Tracking System</h1>
          <hr />
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
</div>
