<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div
      id="menu"
      class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top bg-dark"
    >
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2"
      >
        <a
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-decoration-none text-white"
        >
          <span class="fs-5"
            >Health IoT<span class="d-none d-sm-inline">racking</span></span
          >
        </a>
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu"
        >
          <li>
            <a
              class="nav-link px-sm-0 px-2 text-white"
              routerLink="/dashboard"
            >
              <i class="fs-5 bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="nav-link px-sm-0 px-2 text-white" routerLink="/device">
              <i class="fs-5 bi-brush"></i>
              <span class="ms-1 d-none d-sm-inline">Devices</span>
            </a>
          </li>
          <li>
            <a class="nav-link px-sm-0 px-2 text-white" routerLink="/device-type"
              >
              <i class="fs-5 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Device Types</span>
            </a>
          </li>
        </ul>
        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
          <a
            href="#"
            class="d-flex align-items-center text-decoration-none dropdown-toggle text-white"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="xyz"
              alt="profile_picture"
              width="28"
              height="28"
              class="img-fluid img-thumbnail bg-white"
            />
            <span class="d-none d-sm-inline mx-1"> asd asd </span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li>
              <a class="dropdown-item" href="{% url 'admin:index' %}">asd</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'mediterraneo_accounts:account_detail' user.account.id %}"
                >ad</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'mediterraneo_miscellaneous:settings' %}"
                >asd</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item">asd</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col d-flex flex-column h-sm-100">
      <div class="container">
        <div class="row">
          <main>
            <div class="m-3">
              <router-outlet></router-outlet>
            </div>
          </main>
          <footer class="row py-4 mt-auto">
            <p class="text-center">
              <a class="text-decoration-none" title="About">About</a>
              &middot;
              <a
                class="text-decoration-none"
                title="Contact"
                >Contact</a
              >
              &middot;
              <a href="#" class="text-decoration-none" title="Terms of use"
                >Terms of use</a
              >
              &middot;
              <a href="#" class="text-decoration-none" title="Privacy policy"
                >Privacy policy</a
              >
              &middot;
              <a href="#" class="text-decoration-none" title="Cookie policy"
                >Cookie policy</a
              >
            </p>
          </footer>
        </div>
      </div>

      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div
          class="toast border-danger"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          data-bs-autohide="true"
        >
          <div class="toast-header">
            <span class="rounded me-2 text-bg-danger"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
            <strong class="me-auto">Mediterraneo</strong>
            <small>asd</small>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">asd</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
  <script>
      $(document).ready(function() {
          $(".toast").toast("show");
        });
  </script>

  <script src="{% static 'script.js' %}"></script> -->
