<div *ngIf="device">
    <div class="mb-3">
        <h2 class="display-2">Device {{ device.prismaDevice.id }}</h2>
    </div>
</div>

<div class="alert alert-warning" *ngIf="!isPedometer && !isScale">
    No measures found.
  </div>

<div class="card h-100 shadow-lg rounded-4 border-0 bg-gradient" *ngIf="isPedometer">
    <div class="card-body">
        <h3 class="card-title">Pedometer</h3>
        <div class="chart-container">
            <canvas #stepsChartCanvas></canvas>
        </div>
    </div>
</div>

<div class="card h-100 shadow-lg rounded-4 border-0 bg-gradient my-4" *ngIf="isScale">
    <div class="card-body">
        <h3 class="card-title">Scale</h3>
        <div class="chart-container">
            <canvas #weightChartCanvas></canvas>
        </div>
    </div>
</div>
