<div class="card mb-3 shadow-lg border-0 rounded-4">
  <div class="card-body">
    <h5 class="card-title display-5">Device {{ device.prismaDevice.id }}</h5>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-clipboard"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Primary Access Key"
        value="HostName={{ environment.iotHubHostName }};DeviceId={{
          device.registryDevice.deviceId
        }};SharedAccessKey={{
          device.registryDevice.authentication.symmetricKey.primaryKey
        }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-clipboard"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Primary Access Key"
        value="HostName={{ environment.iotHubHostName }};DeviceId={{
          device.registryDevice.deviceId
        }};SharedAccessKey={{
          device.registryDevice.authentication.symmetricKey.secondaryKey
        }}"
        readonly
      />
    </div>
    <a
      [routerLink]="['/device', device.prismaDevice.id]"
      class="btn btn-primary me-3"
      >View</a
    >
    <a
      [routerLink]="['/device', device.prismaDevice.id, 'delete']"
      class="btn btn-danger"
      >Delete</a
    >
  </div>
</div>
