<div class="mb-3">
  <h2 class="display-2">Create Device Type</h2>
</div>
<form (ngSubmit)="onSubmit()" #deviceTypeForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      [(ngModel)]="deviceType.name"
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Device Type Name"
      required
      #name="ngModel"
    />
  </div>
  <button
    type="submit"
    [disabled]="!deviceTypeForm.valid"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
