<div class="card mb-3 shadow-lg">
  <div class="card-body">
    <h5 class="card-title">Device {{ device }}</h5>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-clipboard"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        value="{{ device.connectionString }}"
        readonly
      />
    </div>
    <a [routerLink]="['/device', device.id]" class="btn btn-primary"
      >Go somewhere</a
    >
  </div>
</div>
